click==8.2.1
#hpo-toolkit==0.7.0
hpo-toolkit==0.5.5
ijson==3.4.0
jsonschema==4.25.1
openpyxl==3.1.5
orjson==3.11.3
pandas==2.3.2
phenopackets==2.0.2.post4
protobuf==3.20.3
pydantic== 2.11.9
pyphetools==0.9.118
python-calamine==0.5.3
PyYAML==6.0.2
requests==2.32.4
rich==14.1.0
stairval==0.2.1
typer==0.17.4